<head>
    <link id="calendar-css" rel="stylesheet" href="">
</head>
<!-- App =============================================================== -->
<div id="app">
    {{>tool-bar}}
    <div class="content">
        <div class="view-wrapper">
            <div id="year-view"></div>
            <div id="week-view"></div>
            <div id="month-view"></div>

        </div>
    </div>
    {{>form-add-event}}
</div>
<script type="text/javascript" src="/js/app/Calendar.js"></script>
<div id="calendar-js">
    <script id="calendar-js" type="text/javascript" src=""></script>
</div>
<script type="text/javascript" src="/js/app/run.js"></script>