<head>
    <link id="calendar-css" rel="stylesheet" href="">
</head>
<!-- App =============================================================== -->
<div id="app">
    {{>tool-bar}}
    <div class="content">
        <div class="view-wrapper">
            <div id="year-view"></div>
            <div id="week-view"></div>
            <div id="month-view"></div>
            {{!-- <div class="cld-day" style="position: fixed; top: 100px; left: 100px; background: silver; z-index: 100">
                <p class="cld-number">Test</p>
                <div class="event-wrap">
                    <div class="date-event">
                        <div class="hour-event" id="timeStart">14:00</div>
                        <div class="hour-event" id="timeEnd">15:00</div>
                    </div>
                    <div class="title-event">Đi ngủ nào</div>
                </div>
            </div> --}}
        </div>
    </div>
    {{>form-add-event}}
</div>
{{!-- <script type="text/javascript" src="/js/app/Calendar.js"></script> --}}
{{!-- <script type="text/javascript" src="./../../pub/js/app/GetEvent.js"></script> --}}
<div id="calendar-js">
    <script id="calendar-js" type="text/javascript" src=""></script>
</div>
<script type="text/javascript" src="/js/app/run.js"></script>