<head>
    <link id="init-css" rel="stylesheet" href="">
    <!--Week css ===================================== -->
    {{!-- <link rel="stylesheet" href="/css/theme-calendar/content-weekly.css"> --}}

    <!--Week css ===================================== -->
    <link rel="stylesheet" href="/css/theme-calendar/month.css">

    <!--Week css ===================================== -->
    {{!-- <link rel="stylesheet" href="/css/theme-calendar/year.css"> --}}
</head>
<!-- App =============================================================== -->
{{>tool-bar}}

<div class="content">
    <div class="view-wrapper">
        <div id="year-view"></div>
        <div id="week-view"></div>
        <div id="month-calendar"></div>
        
    </div>
</div>

<script type="text/javascript" src="/js/app/Calendar.js"></script>
{{!-- <script type="text/javascript" src="/js/app/WeekInterface/WeekCalendar.js"></script>
<script type="text/javascript" src="/js/app/YearInterface/YearCalendar.js"></script> --}}
<script type="text/javascript" src="/js/app/MonthCalendar.js"></script>

<script type="text/javascript" src="/js/app/run.js"></script>

