<head>
    <link id="calendar-css" rel="stylesheet" href="">
    <link rel="stylesheet" href="/css/view-component/loading.css">
</head>
<!-- App =============================================================== -->
<div id="app">
    {{>tool-bar}}
    <div class="content">
        <div class="view-wrapper">
            <div id="year-view"></div>
            <div id="week-view"></div>
            <div id="month-view"></div>
        </div>
        <div class="loader-wrapper">
            <span class="loader"><span class="loader-inner"></span></span>
        </div>
    </div>

    {{>form-add-event}}
</div>
<div id="calendar-js">
    <script id="calendar-js" type="text/javascript" src=""></script>
</div>
<script type="text/javascript" src="/js/app/run.js"></script>
<script src="/js/loading.js"></script>
<script>
    showLoading();
</script>
