<!-- App =============================================================== -->
<div class="content">
    <div class="view-wrapper">
        <div id="week-view"></div>
        <div id="month-calendar"></div>
        <div id="year-view"></div>
    </div>
</div>
