<link rel="stylesheet" href="/css/view-component/eventlist.css">

<!-- List Event -->
<div class="content">
    <div class="container-main" id="list-events">
        <h3>Other Event You Might Also Like</h3>
    </div>
</div>

<script src="/js/component/events.js"></script>