<link rel="stylesheet" href="/css/user-list.css">

<div class="content">
    <div class="container">
        <div class="row" id="user-list"></div>
    </div>
</div>

<script src="/js/component/user-item.js"></script>