<link rel="stylesheet" href="/css/notFound.css">

<head>
</head>

<body>
    <div class="mainbox">
        <div class="err">4</div>
        <i class="far fa-question-circle fa-spin"></i>
        <div class="err2">4</div>
        <div class="msg">This page is not found.<p>Let's go <a href="/app">home</a> and try from there.</p>
        </div>
    </div>
</body>
