<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Week Interface</title>
    <link rel="stylesheet" href="/css/general.css">
</head>

<body>
    <!-- Phan Toolbar =============================================================== -->
    <div class="toolbar">
        <!-- Hien thi ngay/tuan/thang/nam hien tai=================================== -->
        <div class="date-switcher">
            <div class="arrow icon-arrow-left"></div>
            <div class="current-calendar">10 May - 16 May 2021</div>
            <div class="arrow icon-arrow-right"></div>
        </div>
        <!-- Option Tuan/Thang/Nam/Today ============================================ -->
        <div class="view-switcher">
            <div class="calendar-view">
                <span class="btn-week m-btn btn-active">Week</span>
            </div>
            <div class="calendar-view">
                <span class="btn-month m-btn">Month</span>
            </div>
            <div class="calendar-view">
                <span class="btn-year m-btn">Year</span>
            </div>
            <div class="calendar-view float-right">
                <span class="btn-today m-btn">Today</span>
            </div>
        </div>
        <!-- Button them moi + button refresh======================================== -->
        <div class="functional-area">
            <div class="btn-add">
                <div class="icon-add"></div>
            </div>
            <div class="btn-refresh">
                <div class="icon-refresh"></div>
            </div>
        </div>
        <!-- User info area========================================================== -->
        <div class="user-tag">
            <div class="avatar"></div>
            <div class="username">Hoàng Đình Tuấn</div>
            <div class="more"></div>
        </div>
    </div>
    <!-- Phan content =============================================================== -->
    <div class="content">
        <div class="view-wrapper">
            <!-- Day in week ======================================================== -->
            <div class="row-day-info">
                <div class="day-one-week">
                    <div class="day-number">10</div>
                    <div class="right-top-side">
                        <div class="day-in-week">Mon</div>
                    </div>
                    <div class="right-bottom-side">
                        <div class="month">May</div>
                    </div>
                </div>
                <div class="day-one-week">
                    <div class="day-number">11</div>
                    <div class="right-top-side">
                        <div class="day-in-week">Tue</div>
                    </div>
                    <div class="right-bottom-side">
                        <div class="month">May</div>
                    </div>
                </div>
                <div class="day-one-week">
                    <div class="day-number">12</div>
                    <div class="right-top-side">
                        <div class="day-in-week">Wed</div>
                    </div>
                    <div class="right-bottom-side">
                        <div class="month">May</div>
                    </div>
                </div>
                <div class="day-one-week today">
                    <div class="day-number">13</div>
                    <div class="right-top-side">
                        <div class="day-in-week">Thu</div>
                    </div>
                    <div class="right-bottom-side">
                        <div class="month">May</div>
                    </div>
                </div>
                <div class="day-one-week">
                    <div class="day-number">14</div>
                    <div class="right-top-side">
                        <div class="day-in-week">Fri</div>
                    </div>
                    <div class="right-bottom-side">
                        <div class="month">May</div>
                    </div>
                </div>
                <div class="day-one-week">
                    <div class="day-number">15</div>
                    <div class="right-top-side">
                        <div class="day-in-week">Sat</div>
                    </div>
                    <div class="right-bottom-side">
                        <div class="month">May</div>
                    </div>
                </div>
                <div class="day-one-week">
                    <div class="day-number">16</div>
                    <div class="right-top-side">
                        <div class="day-in-week">Sun</div>
                    </div>
                    <div class="right-bottom-side">
                        <div class="month">May</div>
                    </div>
                </div>
            </div>
            <!-- Create task zone =================================================== -->
            <div class="row-button">
                <div class="create-task-area">
                    <div class="btn-add-content">
                        <div class="icon-add-content"></div>
                    </div>
                    <div class="btn-show-journal">
                        <div class="icon-journal"></div>
                    </div>
                </div>
                <div class="create-task-area">
                    <div class="btn-add-content">
                        <div class="icon-add-content"></div>
                    </div>
                    <div class="btn-show-journal">
                        <div class="icon-journal"></div>
                    </div>
                </div>
                <div class="create-task-area">
                    <div class="btn-add-content">
                        <div class="icon-add-content"></div>
                    </div>
                    <div class="btn-show-journal">
                        <div class="icon-journal"></div>
                    </div>
                </div>
                <div class="create-task-area">
                    <div class="btn-add-content">
                        <div class="icon-add-content"></div>
                    </div>
                    <div class="btn-show-journal">
                        <div class="icon-journal"></div>
                    </div>
                </div>
                <div class="create-task-area">
                    <div class="btn-add-content">
                        <div class="icon-add-content"></div>
                    </div>
                    <div class="btn-show-journal">
                        <div class="icon-journal"></div>
                    </div>
                </div>
                <div class="create-task-area">
                    <div class="btn-add-content">
                        <div class="icon-add-content"></div>
                    </div>
                    <div class="btn-show-journal">
                        <div class="icon-journal"></div>
                    </div>
                </div>
                <div class="create-task-area">
                    <div class="btn-add-content">
                        <div class="icon-add-content"></div>
                    </div>
                    <div class="btn-show-journal">
                        <div class="icon-journal"></div>
                    </div>
                </div>
            </div>
            <!-- Event list zone ==================================================== -->
            <div class="row-events">
                <div class="event-list"></div>
                <div class="event-list"></div>
                <div class="event-list"></div>
                <div class="event-list"></div>
                <div class="event-list"></div>
                <div class="event-list"></div>
                <div class="event-list"></div>
            </div>
        </div>
    </div>
</body>

</html>