<link rel="stylesheet" href="/css/user-list.css">
<link rel="stylesheet" href="/css/view-component/header.css">
<header class="header">
    <div class="header__grid">

        <nav class="header__navbar" id="navbar">
            <ul class="header__navbar-list">
                <li class="header__navbar-item"><a class="header__navbar-item-link link-home" href="/app">Home</a></li>
                <li class="header__navbar-item"><a class="header__navbar-item-link link-home" href="/app/events">Events</a></li>
                <li class="header__navbar-item"><a class="header__navbar-item-link link-home" href="/app/followed/users">Users</a></li>
            </ul>
            <ul class="header__navbar-list">
                <li class="header__navbar-item header__navbar-item-right"><a class="header__navbar-item-link link-login"
                        href="/account">Account</a></li>
                <li class="header__navbar-item header__navbar-item-right"><a class="header__navbar-item-link link-login"
                        href="/login/logout"><i class="fas fa-sign-out-alt"></i>Logout</a></li>
            </ul>
        </nav>
    </div>
</header>
<div class="content">
    <div class="container">
        <div class="row" id="user-list"></div>
    </div>
</div>

<script src="/js/component/search.js"></script>