<div class="mt-4">
    <form action="/test/store" method="post" enctype="multipart/form-data">
        <br>
        <input type="text" name="name" id="">
        <input id="file" type="file" name="avatar" />
        <button id="btn" type="submit" class="btn btn-primary mt-4">submit</button>
    </form>
</div>
