/* W3.CSS 4.15 December 2020 by Jan Egil and Borge Refsnes */
html {
	box-sizing: border-box;
}

*,*:before,*:after {
	box-sizing: inherit;
}
/* Extract from normalize.css by Nicolas Gallagher and Jonathan Neal git.io/normalize */
html {
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

body {
	margin: 0;
}

article,aside,details,figcaption,figure,footer,header,main,menu,nav,section {
	display: block;
}

summary {
	display: list-item;
}

audio,canvas,progress,video {
	display: inline-block;
}

progress {
	vertical-align: baseline;
}

audio:not([controls]) {
	display: none;
	height: 0;
}

[hidden],template {
	display: none;
}

a {
	background-color: transparent;
}

a:active,a:hover {
	outline-width: 0;
}

abbr[title] {
	border-bottom: none;
	text-decoration: underline;
	text-decoration: underline dotted;
}

b,strong {
	font-weight: bolder;
}

dfn {
	font-style: italic;
}

mark {
	background: #ff0;
	color: #000;
}

small {
	font-size: 80%;
}

sub,sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sub {
	bottom: -0.25em;
}

sup {
	top: -0.5em;
}

figure {
	margin: 1em 40px;
}

img {
	border-style: none;
}

code,kbd,pre,samp {
	font-family: monospace,monospace;
	font-size: 1em;
}

hr {
	box-sizing: content-box;
	height: 0;
	overflow: visible;
}

button,input,select,textarea,optgroup {
	font: inherit;
	margin: 0;
}

optgroup {
	font-weight: bold;
}

button,input {
	overflow: visible;
}

button,select {
	text-transform: none;
}

button,[type=button],[type=reset],[type=submit] {
	-webkit-appearance: button;
}

button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner {
	border-style: none;
	padding: 0;
}

button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring {
	outline: 1px dotted ButtonText;
}

fieldset {
	border: 1px solid #c0c0c0;
	margin: 0 2px;
	padding: .35em .625em .75em;
}

legend {
	color: inherit;
	display: table;
	max-width: 100%;
	padding: 0;
	white-space: normal;
}

textarea {
	overflow: auto;
}

[type=checkbox],[type=radio] {
	padding: 0;
}

[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button {
	height: auto;
}

[type=search] {
	-webkit-appearance: textfield;
	outline-offset: -2px;
}

[type=search]::-webkit-search-decoration {
	-webkit-appearance: none;
}

::-webkit-file-upload-button {
	-webkit-appearance: button;
	font: inherit;
}
/* End extract */
html,body {
	font-family: Verdana,sans-serif;
	font-size: 15px;
	line-height: 1.5;
}

html {
	overflow-x: hidden;
}

h1 {
	font-size: 36px;
}

h2 {
	font-size: 30px;
}

h3 {
	font-size: 24px;
}

h4 {
	font-size: 20px;
}

h5 {
	font-size: 18px;
}

h6 {
	font-size: 16px;
}

.g26-serif {
	font-family: serif;
}

.g26-sans-serif {
	font-family: sans-serif;
}

.g26-cursive {
	font-family: cursive;
}

.g26-monospace {
	font-family: monospace;
}

h1,h2,h3,h4,h5,h6 {
	font-family: "Segoe UI",Arial,sans-serif;
	font-weight: 400;
	margin: 10px 0;
}

.g26-wide {
	letter-spacing: 4px;
}

hr {
	border: 0;
	border-top: 1px solid #eee;
	margin: 20px 0;
}

.g26-image {
	max-width: 100%;
	height: auto;
}

img {
	vertical-align: middle;
}

a {
	color: inherit;
}

.g26-table,.g26-table-all {
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
	display: table;
}

.g26-table-all {
	border: 1px solid #ccc;
}

.g26-bordered tr,.g26-table-all tr {
	border-bottom: 1px solid #ddd;
}

.g26-striped tbody tr:nth-child(even) {
	background-color: #f1f1f1;
}

.g26-table-all tr:nth-child(odd) {
	background-color: #fff;
}

.g26-table-all tr:nth-child(even) {
	background-color: #f1f1f1;
}

.g26-hoverable tbody tr:hover,.g26-ul.g26-hoverable li:hover {
	background-color: #ccc;
}

.g26-centered tr th,.g26-centered tr td {
	text-align: center;
}

.g26-table td,.g26-table th,.g26-table-all td,.g26-table-all th {
	padding: 8px 8px;
	display: table-cell;
	text-align: left;
	vertical-align: top;
}

.g26-table th:first-child,.g26-table td:first-child,.g26-table-all th:first-child,.g26-table-all td:first-child {
	padding-left: 16px;
}

.g26-btn,.g26-button {
	border: none;
	display: inline-block;
	padding: 8px 16px;
	vertical-align: middle;
	overflow: hidden;
	text-decoration: none;
	color: inherit;
	background-color: inherit;
	text-align: center;
	cursor: pointer;
	white-space: nowrap;
}

.g26-btn:hover {
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}

.g26-btn,.g26-button {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.g26-disabled,.g26-btn:disabled,.g26-button:disabled {
	cursor: not-allowed;
	opacity: 0.3;
}

.g26-disabled *,:disabled * {
	pointer-events: none;
}

.g26-btn.g26-disabled:hover,.g26-btn:disabled:hover {
	box-shadow: none;
}

.g26-badge,.g26-tag {
	background-color: #000;
	color: #fff;
	display: inline-block;
	padding-left: 8px;
	padding-right: 8px;
	text-align: center;
}

.g26-badge {
	border-radius: 50%;
}

.g26-ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.g26-ul li {
	padding: 8px 16px;
	border-bottom: 1px solid #ddd;
}

.g26-ul li:last-child {
	border-bottom: none;
}

.g26-tooltip,.g26-display-container {
	position: relative;
}

.g26-tooltip .g26-text {
	display: none;
}

.g26-tooltip:hover .g26-text {
	display: inline-block;
}

.g26-ripple:active {
	opacity: 0.5;
}

.g26-ripple {
	transition: opacity 0s;
}

.g26-input {
	padding: 8px;
	display: block;
	border: none;
	border-bottom: 1px solid #ccc;
	width: 100%;
}

.g26-select {
	padding: 9px 0;
	width: 100%;
	border: none;
	border-bottom: 1px solid #ccc;
}

.g26-dropdown-click,.g26-dropdown-hover {
	position: relative;
	display: inline-block;
	cursor: pointer;
}

.g26-dropdown-hover:hover .g26-dropdown-content {
	display: block;
}

.g26-dropdown-hover:first-child,.g26-dropdown-click:hover {
	background-color: #ccc;
	color: #000;
}

.g26-dropdown-hover:hover > .g26-button:first-child,.g26-dropdown-click:hover > .g26-button:first-child {
	background-color: #ccc;
	color: #000;
}

.g26-dropdown-content {
	cursor: auto;
	color: #000;
	background-color: #fff;
	display: none;
	position: absolute;
	min-width: 160px;
	margin: 0;
	padding: 0;
	z-index: 1;
}

.g26-check,.g26-radio {
	width: 24px;
	height: 24px;
	position: relative;
	top: 6px;
}

.g26-sidebar {
	height: 100%;
	width: 200px;
	background-color: #fff;
	position: fixed!important;
	z-index: 1;
	overflow: auto;
}

.g26-bar-block .g26-dropdown-hover,.g26-bar-block .g26-dropdown-click {
	width: 100%;
}

.g26-bar-block .g26-dropdown-hover .g26-dropdown-content,.g26-bar-block .g26-dropdown-click .g26-dropdown-content {
	min-width: 100%;
}

.g26-bar-block .g26-dropdown-hover .g26-button,.g26-bar-block .g26-dropdown-click .g26-button {
	width: 100%;
	text-align: left;
	padding: 8px 16px;
}

.g26-main,#main {
	transition: margin-left .4s;
}

.g26-modal {
	z-index: 3;
	display: none;
	padding-top: 100px;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0,0.4);
}

.g26-modal-content {
	margin: auto;
	background-color: #fff;
	position: relative;
	padding: 0;
	outline: 0;
	width: 600px;
}

.g26-bar {
	width: 100%;
	overflow: hidden;
}

.g26-center .g26-bar {
	display: inline-block;
	width: auto;
}

.g26-bar .g26-bar-item {
	padding: 8px 16px;
	float: left;
	width: auto;
	border: none;
	display: block;
	outline: 0;
}

.g26-bar .g26-dropdown-hover,.g26-bar .g26-dropdown-click {
	position: static;
	float: left;
}

.g26-bar .g26-button {
	white-space: normal;
}

.g26-bar-block .g26-bar-item {
	width: 100%;
	display: block;
	padding: 8px 16px;
	text-align: left;
	border: none;
	white-space: normal;
	float: none;
	outline: 0;
}

.g26-bar-block.g26-center .g26-bar-item {
	text-align: center;
}

.g26-block {
	display: block;
	width: 100%;
}

.g26-responsive {
	display: block;
	overflow-x: auto;
}

.g26-container:after,.g26-container:before,.g26-panel:after,.g26-panel:before,.g26-row:after,.g26-row:before,.g26-row-padding:after,.g26-row-padding:before,
.g26-cell-row:before,.g26-cell-row:after,.g26-clear:after,.g26-clear:before,.g26-bar:before,.g26-bar:after {
	content: "";
	display: table;
	clear: both;
}

.g26-col,.g26-half,.g26-third,.g26-twothird,.g26-threequarter,.g26-quarter {
	float: left;
	width: 100%;
}

.g26-col.s1 {
	width: 8.33333%;
}

.g26-col.s2 {
	width: 16.66666%;
}

.g26-col.s3 {
	width: 24.99999%;
}

.g26-col.s4 {
	width: 33.33333%;
}

.g26-col.s5 {
	width: 41.66666%;
}

.g26-col.s6 {
	width: 49.99999%;
}

.g26-col.s7 {
	width: 58.33333%;
}

.g26-col.s8 {
	width: 66.66666%;
}

.g26-col.s9 {
	width: 74.99999%;
}

.g26-col.s10 {
	width: 83.33333%;
}

.g26-col.s11 {
	width: 91.66666%;
}

.g26-col.s12 {
	width: 99.99999%;
}

@media (min-width:601px) {
	.g26-col.m1 {
		width: 8.33333%;
	}

	.g26-col.m2 {
		width: 16.66666%;
	}

	.g26-col.m3,.g26-quarter {
		width: 24.99999%;
	}

	.g26-col.m4,.g26-third {
		width: 33.33333%;
	}

	.g26-col.m5 {
		width: 41.66666%;
	}

	.g26-col.m6,.g26-half {
		width: 49.99999%;
	}

	.g26-col.m7 {
		width: 58.33333%;
	}

	.g26-col.m8,.g26-twothird {
		width: 66.66666%;
	}

	.g26-col.m9,.g26-threequarter {
		width: 74.99999%;
	}

	.g26-col.m10 {
		width: 83.33333%;
	}

	.g26-col.m11 {
		width: 91.66666%;
	}

	.g26-col.m12 {
		width: 99.99999%;
	}
}

@media (min-width:993px) {
	.g26-col.l1 {
		width: 8.33333%;
	}

	.g26-col.l2 {
		width: 16.66666%;
	}

	.g26-col.l3 {
		width: 24.99999%;
	}

	.g26-col.l4 {
		width: 33.33333%;
	}

	.g26-col.l5 {
		width: 41.66666%;
	}

	.g26-col.l6 {
		width: 49.99999%;
	}

	.g26-col.l7 {
		width: 58.33333%;
	}

	.g26-col.l8 {
		width: 66.66666%;
	}

	.g26-col.l9 {
		width: 74.99999%;
	}

	.g26-col.l10 {
		width: 83.33333%;
	}

	.g26-col.l11 {
		width: 91.66666%;
	}

	.g26-col.l12 {
		width: 99.99999%;
	}
}

.g26-rest {
	overflow: hidden;
}

.g26-stretch {
	margin-left: -16px;
	margin-right: -16px;
}

.g26-content,.g26-auto {
	margin-left: auto;
	margin-right: auto;
}

.g26-content {
	max-width: 980px;
}

.g26-auto {
	max-width: 1140px;
}

.g26-cell-row {
	display: table;
	width: 100%;
}

.g26-cell {
	display: table-cell;
}

.g26-cell-top {
	vertical-align: top;
}

.g26-cell-middle {
	vertical-align: middle;
}

.g26-cell-bottom {
	vertical-align: bottom;
}

.g26-hide {
	display: none!important;
}

.g26-show-block,.g26-show {
	display: block!important;
}

.g26-show-inline-block {
	display: inline-block!important;
}

@media (max-width:1205px) {
	.g26-auto {
		max-width: 95%;
	}
}

@media (max-width:600px) {
	.g26-modal-content {
		margin: 0 10px;
		width: auto!important;
	}

	.g26-modal {
		padding-top: 30px;
	}

	.g26-dropdown-hover.g26-mobile .g26-dropdown-content,.g26-dropdown-click.g26-mobile .g26-dropdown-content {
		position: relative;
	}

	.g26-hide-small {
		display: none!important;
	}

	.g26-mobile {
		display: block;
		width: 100%!important;
	}

	.g26-bar-item.g26-mobile,.g26-dropdown-hover.g26-mobile,.g26-dropdown-click.g26-mobile {
		text-align: center;
	}

	.g26-dropdown-hover.g26-mobile,.g26-dropdown-hover.g26-mobile .g26-btn,.g26-dropdown-hover.g26-mobile .g26-button,.g26-dropdown-click.g26-mobile,.g26-dropdown-click.g26-mobile .g26-btn,.g26-dropdown-click.g26-mobile .g26-button {
		width: 100%;
	}
}

@media (max-width:768px) {
	.g26-modal-content {
		width: 500px;
	}

	.g26-modal {
		padding-top: 50px;
	}
}

@media (min-width:993px) {
	.g26-modal-content {
		width: 900px;
	}

	.g26-hide-large {
		display: none!important;
	}

	.g26-sidebar.g26-collapse {
		display: block!important;
	}
}

@media (max-width:992px) and (min-width:601px) {
	.g26-hide-medium {
		display: none!important;
	}
}

@media (max-width:992px) {
	.g26-sidebar.g26-collapse {
		display: none;
	}

	.g26-main {
		margin-left: 0!important;
		margin-right: 0!important;
	}

	.g26-auto {
		max-width: 100%;
	}
}

.g26-top,.g26-bottom {
	position: fixed;
	width: 100%;
	z-index: 1;
}

.g26-top {
	top: 0;
}

.g26-bottom {
	bottom: 0;
}

.g26-overlay {
	position: fixed;
	display: none;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0,0,0,0.5);
	z-index: 2;
}

.g26-display-topleft {
	position: absolute;
	left: 0;
	top: 0;
}

.g26-display-topright {
	position: absolute;
	right: 0;
	top: 0;
}

.g26-display-bottomleft {
	position: absolute;
	left: 0;
	bottom: 0;
}

.g26-display-bottomright {
	position: absolute;
	right: 0;
	bottom: 0;
}

.g26-display-middle {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
}

.g26-display-left {
	position: absolute;
	top: 50%;
	left: 0%;
	transform: translate(0%,-50%);
	-ms-transform: translate(-0%,-50%);
}

.g26-display-right {
	position: absolute;
	top: 50%;
	right: 0%;
	transform: translate(0%,-50%);
	-ms-transform: translate(0%,-50%);
}

.g26-display-topmiddle {
	position: absolute;
	left: 50%;
	top: 0;
	transform: translate(-50%,0%);
	-ms-transform: translate(-50%,0%);
}

.g26-display-bottommiddle {
	position: absolute;
	left: 50%;
	bottom: 0;
	transform: translate(-50%,0%);
	-ms-transform: translate(-50%,0%);
}

.g26-display-container:hover .g26-display-hover {
	display: block;
}

.g26-display-container:hover span.g26-display-hover {
	display: inline-block;
}

.g26-display-hover {
	display: none;
}

.g26-display-position {
	position: absolute;
}

.g26-circle {
	border-radius: 50%;
}

.g26-round-small {
	border-radius: 2px;
}

.g26-round,.g26-round-medium {
	border-radius: 4px;
}

.g26-round-large {
	border-radius: 8px;
}

.g26-round-xlarge {
	border-radius: 16px;
}

.g26-round-xxlarge {
	border-radius: 32px;
}

.g26-row-padding,.g26-row-padding>.g26-half,.g26-row-padding>.g26-third,.g26-row-padding>.g26-twothird,.g26-row-padding>.g26-threequarter,.g26-row-padding>.g26-quarter,.g26-row-padding>.g26-col {
	padding: 0 8px;
}

.g26-container,.g26-panel {
	padding: 0.01em 16px;
}

.g26-panel {
	margin-top: 16px;
	margin-bottom: 16px;
}

.g26-code,.g26-codespan {
	font-family: Consolas,"courier new";
	font-size: 16px;
}

.g26-code {
	width: auto;
	background-color: #fff;
	padding: 8px 12px;
	border-left: 4px solid #4CAF50;
	word-wrap: break-word;
}

.g26-codespan {
	color: crimson;
	background-color: #f1f1f1;
	padding-left: 4px;
	padding-right: 4px;
	font-size: 110%;
}

.g26-card,.g26-card-2 {
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}

.g26-card-4,.g26-hover-shadow:hover {
	box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19);
}

.g26-spin {
	animation: g26-spin 2s infinite linear;
}

@keyframes g26-spin {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(359deg);
	}
}

.g26-animate-fading {
	animation: fading 10s infinite;
}

@keyframes fading {
	0% {
		opacity: 0;
	}

	50% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}

.g26-animate-opacity {
	animation: opac 0.8s;
}

@keyframes opac {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

.g26-animate-top {
	position: relative;
	animation: animatetop 0.4s;
}

@keyframes animatetop {
	from {
		top: -300px;
		opacity: 0;
	}

	to {
		top: 0;
		opacity: 1;
	}
}

.g26-animate-left {
	position: relative;
	animation: animateleft 0.4s;
}

@keyframes animateleft {
	from {
		left: -300px;
		opacity: 0;
	}

	to {
		left: 0;
		opacity: 1;
	}
}

.g26-animate-right {
	position: relative;
	animation: animateright 0.4s;
}

@keyframes animateright {
	from {
		right: -300px;
		opacity: 0;
	}

	to {
		right: 0;
		opacity: 1;
	}
}

.g26-animate-bottom {
	position: relative;
	animation: animatebottom 0.4s;
}

@keyframes animatebottom {
	from {
		bottom: -300px;
		opacity: 0;
	}

	to {
		bottom: 0;
		opacity: 1;
	}
}

.g26-animate-zoom {
	animation: animatezoom 0.6s;
}

@keyframes animatezoom {
	from {
		transform: scale(0);
	}

	to {
		transform: scale(1);
	}
}

.g26-animate-input {
	transition: width 0.4s ease-in-out;
}

.g26-animate-input:focus {
	width: 100%!important;
}

.g26-opacity,.g26-hover-opacity:hover {
	opacity: 0.60;
}

.g26-opacity-off,.g26-hover-opacity-off:hover {
	opacity: 1;
}

.g26-opacity-max {
	opacity: 0.25;
}

.g26-opacity-min {
	opacity: 0.75;
}

.g26-greyscale-max,.g26-grayscale-max,.g26-hover-greyscale:hover,.g26-hover-grayscale:hover {
	filter: grayscale(100%);
}

.g26-greyscale,.g26-grayscale {
	filter: grayscale(75%);
}

.g26-greyscale-min,.g26-grayscale-min {
	filter: grayscale(50%);
}

.g26-sepia {
	filter: sepia(75%);
}

.g26-sepia-max,.g26-hover-sepia:hover {
	filter: sepia(100%);
}

.g26-sepia-min {
	filter: sepia(50%);
}

.g26-tiny {
	font-size: 10px!important;
}

.g26-small {
	font-size: 12px!important;
}

.g26-medium {
	font-size: 15px!important;
}

.g26-large {
	font-size: 18px!important;
}

.g26-xlarge {
	font-size: 24px!important;
}

.g26-xxlarge {
	font-size: 36px!important;
}

.g26-xxxlarge {
	font-size: 48px!important;
}

.g26-jumbo {
	font-size: 64px!important;
}

.g26-left-align {
	text-align: left!important;
}

.g26-right-align {
	text-align: right!important;
}

.g26-justify {
	text-align: justify!important;
}

.g26-center {
	text-align: center!important;
}

.g26-border-0 {
	border: 0!important;
}

.g26-border {
	border: 1px solid #ccc!important;
}

.g26-border-top {
	border-top: 1px solid #ccc!important;
}

.g26-border-bottom {
	border-bottom: 1px solid #ccc!important;
}

.g26-border-left {
	border-left: 1px solid #ccc!important;
}

.g26-border-right {
	border-right: 1px solid #ccc!important;
}

.g26-topbar {
	border-top: 6px solid #ccc!important;
}

.g26-bottombar {
	border-bottom: 6px solid #ccc!important;
}

.g26-leftbar {
	border-left: 6px solid #ccc!important;
}

.g26-rightbar {
	border-right: 6px solid #ccc!important;
}

.g26-section,.g26-code {
	margin-top: 16px!important;
	margin-bottom: 16px!important;
}

.g26-margin {
	margin: 16px!important;
}

.g26-margin-top {
	margin-top: 16px!important;
}

.g26-margin-bottom {
	margin-bottom: 16px!important;
}

.g26-margin-left {
	margin-left: 16px!important;
}

.g26-margin-right {
	margin-right: 16px!important;
}

.g26-padding-small {
	padding: 4px 8px!important;
}

.g26-padding {
	padding: 8px 16px!important;
}

.g26-padding-large {
	padding: 12px 24px!important;
}

.g26-padding-16 {
	padding-top: 16px!important;
	padding-bottom: 16px!important;
}

.g26-padding-24 {
	padding-top: 24px!important;
	padding-bottom: 24px!important;
}

.g26-padding-32 {
	padding-top: 32px!important;
	padding-bottom: 32px!important;
}

.g26-padding-48 {
	padding-top: 48px!important;
	padding-bottom: 48px!important;
}

.g26-padding-64 {
	padding-top: 64px!important;
	padding-bottom: 64px!important;
}

.g26-padding-top-64 {
	padding-top: 64px!important;
}

.g26-padding-top-48 {
	padding-top: 48px!important;
}

.g26-padding-top-32 {
	padding-top: 32px!important;
}

.g26-padding-top-24 {
	padding-top: 24px!important;
}

.g26-left {
	float: left!important;
}

.g26-right {
	float: right!important;
}

.g26-button:hover {
	color: #000!important;
	background-color: #ccc!important;
}

.g26-transparent,.g26-hover-none:hover {
	background-color: transparent!important;
}

.g26-hover-none:hover {
	box-shadow: none!important;
}
/* Colors */
.g26-amber,.g26-hover-amber:hover {
	color: #000!important;
	background-color: #ffc107!important;
}

.g26-aqua,.g26-hover-aqua:hover {
	color: #000!important;
	background-color: #00ffff!important;
}

.g26-blue,.g26-hover-blue:hover {
	color: #fff!important;
	background-color: #2196F3!important;
}

.g26-light-blue,.g26-hover-light-blue:hover {
	color: #000!important;
	background-color: #87CEEB!important;
}

.g26-brown,.g26-hover-brown:hover {
	color: #fff!important;
	background-color: #795548!important;
}

.g26-cyan,.g26-hover-cyan:hover {
	color: #000!important;
	background-color: #00bcd4!important;
}

.g26-blue-grey,.g26-hover-blue-grey:hover,.g26-blue-gray,.g26-hover-blue-gray:hover {
	color: #fff!important;
	background-color: #607d8b!important;
}

.g26-green,.g26-hover-green:hover {
	color: #fff!important;
	background-color: #4CAF50!important;
}

.g26-light-green,.g26-hover-light-green:hover {
	color: #000!important;
	background-color: #8bc34a!important;
}

.g26-indigo,.g26-hover-indigo:hover {
	color: #fff!important;
	background-color: #3f51b5!important;
}

.g26-khaki,.g26-hover-khaki:hover {
	color: #000!important;
	background-color: #f0e68c!important;
}

.g26-lime,.g26-hover-lime:hover {
	color: #000!important;
	background-color: #cddc39!important;
}

.g26-orange,.g26-hover-orange:hover {
	color: #000!important;
	background-color: #ff9800!important;
}

.g26-deep-orange,.g26-hover-deep-orange:hover {
	color: #fff!important;
	background-color: #ff5722!important;
}

.g26-pink,.g26-hover-pink:hover {
	color: #fff!important;
	background-color: #e91e63!important;
}

.g26-purple,.g26-hover-purple:hover {
	color: #fff!important;
	background-color: #9c27b0!important;
}

.g26-deep-purple,.g26-hover-deep-purple:hover {
	color: #fff!important;
	background-color: #673ab7!important;
}

.g26-red,.g26-hover-red:hover {
	color: #fff!important;
	background-color: #f44336!important;
}

.g26-sand,.g26-hover-sand:hover {
	color: #000!important;
	background-color: #fdf5e6!important;
}

.g26-teal,.g26-hover-teal:hover {
	color: #fff!important;
	background-color: #009688!important;
}

.g26-yellow,.g26-hover-yellow:hover {
	color: #000!important;
	background-color: #ffeb3b!important;
}

.g26-white,.g26-hover-white:hover {
	color: #000!important;
	background-color: #fff!important;
}

.g26-black,.g26-hover-black:hover {
	color: #fff!important;
	background-color: #000!important;
}

.g26-grey,.g26-hover-grey:hover,.g26-gray,.g26-hover-gray:hover {
	color: #000!important;
	background-color: #9e9e9e!important;
}

.g26-light-grey,.g26-hover-light-grey:hover,.g26-light-gray,.g26-hover-light-gray:hover {
	color: #000!important;
	background-color: #f1f1f1!important;
}

.g26-dark-grey,.g26-hover-dark-grey:hover,.g26-dark-gray,.g26-hover-dark-gray:hover {
	color: #fff!important;
	background-color: #616161!important;
}

.g26-pale-red,.g26-hover-pale-red:hover {
	color: #000!important;
	background-color: #ffdddd!important;
}

.g26-pale-green,.g26-hover-pale-green:hover {
	color: #000!important;
	background-color: #ddffdd!important;
}

.g26-pale-yellow,.g26-hover-pale-yellow:hover {
	color: #000!important;
	background-color: #ffffcc!important;
}

.g26-pale-blue,.g26-hover-pale-blue:hover {
	color: #000!important;
	background-color: #ddffff!important;
}

.g26-text-amber,.g26-hover-text-amber:hover {
	color: #ffc107!important;
}

.g26-text-aqua,.g26-hover-text-aqua:hover {
	color: #00ffff!important;
}

.g26-text-blue,.g26-hover-text-blue:hover {
	color: #2196F3!important;
}

.g26-text-light-blue,.g26-hover-text-light-blue:hover {
	color: #87CEEB!important;
}

.g26-text-brown,.g26-hover-text-brown:hover {
	color: #795548!important;
}

.g26-text-cyan,.g26-hover-text-cyan:hover {
	color: #00bcd4!important;
}

.g26-text-blue-grey,.g26-hover-text-blue-grey:hover,.g26-text-blue-gray,.g26-hover-text-blue-gray:hover {
	color: #607d8b!important;
}

.g26-text-green,.g26-hover-text-green:hover {
	color: #4CAF50!important;
}

.g26-text-light-green,.g26-hover-text-light-green:hover {
	color: #8bc34a!important;
}

.g26-text-indigo,.g26-hover-text-indigo:hover {
	color: #3f51b5!important;
}

.g26-text-khaki,.g26-hover-text-khaki:hover {
	color: #b4aa50!important;
}

.g26-text-lime,.g26-hover-text-lime:hover {
	color: #cddc39!important;
}

.g26-text-orange,.g26-hover-text-orange:hover {
	color: #ff9800!important;
}

.g26-text-deep-orange,.g26-hover-text-deep-orange:hover {
	color: #ff5722!important;
}

.g26-text-pink,.g26-hover-text-pink:hover {
	color: #e91e63!important;
}

.g26-text-purple,.g26-hover-text-purple:hover {
	color: #9c27b0!important;
}

.g26-text-deep-purple,.g26-hover-text-deep-purple:hover {
	color: #673ab7!important;
}

.g26-text-red,.g26-hover-text-red:hover {
	color: #f44336!important;
}

.g26-text-sand,.g26-hover-text-sand:hover {
	color: #fdf5e6!important;
}

.g26-text-teal,.g26-hover-text-teal:hover {
	color: #009688!important;
}

.g26-text-yellow,.g26-hover-text-yellow:hover {
	color: #d2be0e!important;
}

.g26-text-white,.g26-hover-text-white:hover {
	color: #fff!important;
}

.g26-text-black,.g26-hover-text-black:hover {
	color: #000!important;
}

.g26-text-grey,.g26-hover-text-grey:hover,.g26-text-gray,.g26-hover-text-gray:hover {
	color: #757575!important;
}

.g26-text-light-grey,.g26-hover-text-light-grey:hover,.g26-text-light-gray,.g26-hover-text-light-gray:hover {
	color: #f1f1f1!important;
}

.g26-text-dark-grey,.g26-hover-text-dark-grey:hover,.g26-text-dark-gray,.g26-hover-text-dark-gray:hover {
	color: #3a3a3a!important;
}

.g26-border-amber,.g26-hover-border-amber:hover {
	border-color: #ffc107!important;
}

.g26-border-aqua,.g26-hover-border-aqua:hover {
	border-color: #00ffff!important;
}

.g26-border-blue,.g26-hover-border-blue:hover {
	border-color: #2196F3!important;
}

.g26-border-light-blue,.g26-hover-border-light-blue:hover {
	border-color: #87CEEB!important;
}

.g26-border-brown,.g26-hover-border-brown:hover {
	border-color: #795548!important;
}

.g26-border-cyan,.g26-hover-border-cyan:hover {
	border-color: #00bcd4!important;
}

.g26-border-blue-grey,.g26-hover-border-blue-grey:hover,.g26-border-blue-gray,.g26-hover-border-blue-gray:hover {
	border-color: #607d8b!important;
}

.g26-border-green,.g26-hover-border-green:hover {
	border-color: #4CAF50!important;
}

.g26-border-light-green,.g26-hover-border-light-green:hover {
	border-color: #8bc34a!important;
}

.g26-border-indigo,.g26-hover-border-indigo:hover {
	border-color: #3f51b5!important;
}

.g26-border-khaki,.g26-hover-border-khaki:hover {
	border-color: #f0e68c!important;
}

.g26-border-lime,.g26-hover-border-lime:hover {
	border-color: #cddc39!important;
}

.g26-border-orange,.g26-hover-border-orange:hover {
	border-color: #ff9800!important;
}

.g26-border-deep-orange,.g26-hover-border-deep-orange:hover {
	border-color: #ff5722!important;
}

.g26-border-pink,.g26-hover-border-pink:hover {
	border-color: #e91e63!important;
}

.g26-border-purple,.g26-hover-border-purple:hover {
	border-color: #9c27b0!important;
}

.g26-border-deep-purple,.g26-hover-border-deep-purple:hover {
	border-color: #673ab7!important;
}

.g26-border-red,.g26-hover-border-red:hover {
	border-color: #f44336!important;
}

.g26-border-sand,.g26-hover-border-sand:hover {
	border-color: #fdf5e6!important;
}

.g26-border-teal,.g26-hover-border-teal:hover {
	border-color: #009688!important;
}

.g26-border-yellow,.g26-hover-border-yellow:hover {
	border-color: #ffeb3b!important;
}

.g26-border-white,.g26-hover-border-white:hover {
	border-color: #fff!important;
}

.g26-border-black,.g26-hover-border-black:hover {
	border-color: #000!important;
}

.g26-border-grey,.g26-hover-border-grey:hover,.g26-border-gray,.g26-hover-border-gray:hover {
	border-color: #9e9e9e!important;
}

.g26-border-light-grey,.g26-hover-border-light-grey:hover,.g26-border-light-gray,.g26-hover-border-light-gray:hover {
	border-color: #f1f1f1!important;
}

.g26-border-dark-grey,.g26-hover-border-dark-grey:hover,.g26-border-dark-gray,.g26-hover-border-dark-gray:hover {
	border-color: #616161!important;
}

.g26-border-pale-red,.g26-hover-border-pale-red:hover {
	border-color: #ffe7e7!important;
}

.g26-border-pale-green,.g26-hover-border-pale-green:hover {
	border-color: #e7ffe7!important;
}

.g26-border-pale-yellow,.g26-hover-border-pale-yellow:hover {
	border-color: #ffffcc!important;
}

.g26-border-pale-blue,.g26-hover-border-pale-blue:hover {
	border-color: #e7ffff!important;
}