/* icon phan navbar ============================================*/
.icon-search{
    height: 30px;
    width: 30px;
    background-image: url('/img/icon/icon_agenda.png');
    background-position: 29px -29px;
}

.icon-planner{
    height: 30px;
    width: 30px;
    background-image: url('/img/icon/icon_agenda.png');
    background-position: 86px -30px;
}
.icon-event{
    height: 30px;
    width: 30px;
    background-image: url('/img/icon/icon_agenda.png');
    background-position: 86px 1px;
}
.icon-list{
    height: 30px;
    width: 30px;
    background-image: url('/img/icon/icon_agenda.png');
    background-position: 1px 0px;
}
.icon-logo{
    height: 30px;
    width: 30px;
    background-image: url('/img/icon/icon_agenda.png');
    background-position: -29px -29px;
}
.icon-setting{
    height: 30px;
    width: 30px;
    background-image: url('/img/icon/icon_agenda.png');
    background-position: 29px -58px;
}
/* icon phan toolbar=========================================== */
.icon-arrow-left{
    height: 20px;
    width: 20px;
    background-image: url('/img/icon/icon-arrow-left.png');
    transform: rotate(0deg);
    background-size: cover;
}
.icon-arrow-right{
    height: 20px;
    width: 20px;
    background-image: url('/img/icon/icon-arrow-left.png');
    transform: rotate(180deg);
    background-size: cover;
    /* float: right; */
}
.icon-add{
    height: 30px;
    width: 30px;
    background-image: url('/img/icon/icon-add.png');
    background-size: cover;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.icon-refresh{
    height: 30px;
    width: 30px;
    background-image: url('/img/icon/icon-refresh.png');
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
}
/* icon phan content ================================== */
.icon-add-content{
    background-image: url('/img/icon/icon-add.png');
    background-size: cover;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    height: 26px;
    width: 26px;
    opacity: 1;
    margin-top: 2px;
    opacity: 0.5;
}

.icon-journal{
    background-image: url('/img/icon/icon_agenda.png');
    background-position: 86px -88px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    height: 26px;
    width: 26px;
    opacity: 1;
    margin-top: 2px;
    opacity: 0.5;
}