
.header{
    height: var(--header-height);
    background-color: #ffffff;
    /* margin-bottom: 30px; */
    position: fixed;
    top: 0;
    width: 100%;
    left: 80px;
}


.header__navbar{
    display: flex;
    justify-content: space-between;
    background-color: #1369ce;
    height: 69px;
    z-index: 1000;
}

.header__navbar-list{
    list-style: none;
    padding-left: 0;
    margin-right: 60px;
    margin-left: 60px;
}

.header__navbar-item{
    margin: 0 8px;
}


.header__navbar-item, .header__navbar-item-link{
    display: inline-block;
    font-size: 1.8rem;
    color: #ffffff;
    text-decoration: none;
    font-weight: 500;
    opacity: 1;
    margin-right: 25px;
}

.header__navbar-item-link:hover{
    color: #ffffff;
}

.header__navbar-item-right:hover, 
.link-login:hover{
    color: #30add1;
    cursor: pointer;
    background-color: #ffffff;
}

.header__navbar-icon-link{
    color: #ffffff;
    text-decoration: none;
}

.link-login{
    font-weight: 400;
    font-size: 16px;
    padding-top: 8px;
    padding-bottom: 12px;
    padding-left: 8px;
    padding-right: 8px;
}

.link-home{
    font-size: 20px;
    margin-top: 5px;
    padding-left: 8px;
    padding-right: 8px;
}

.link-product{
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 4px;
    padding-left: 8px;
    padding-right: 8px;
}


.fa-sign-in-alt{
    transform: translateY(calc(8%));
}

.fa-shopping-cart{
    transform: translateY(calc(8%));
}

.search{
    width: 300px;
    position: relative;
    top: 5px;
    left: -260px;
}
.input-group{
    width:100% !important;
}
.search .input{
    height: 30px !important;
    font-size: 15px;
}
.fa-search{
    font-size: 20px;
    color: #fff;
}

.fa-sign-out-alt{
    margin-right: 10px;
}