<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, height= device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>BK Calendar</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/welcome.css">
</head>
<body>
    <div id="header" class="">
        <div id="headerLogo"> <div id="bk">BK </div>Calendar</div>
        <div id="headerNav">
            <ul>
                <li><a href="#"><button class="login">login</button></a></li>
            </ul>
        </div>
    </div>
    <div id="mainVisual">
        <div id="visual_home_bg"></div>
        <h1 class="toBlur">Design your day</h1>
        <h3 class="toBlur">BK Calendar is your personal workspace that helps you organize your<br>day and free your
            creative side.</h3>
        <a href="#">Sign up now</a>
    </div>
</body>
</html>