<head>
    <link rel="stylesheet" href="/css/general.css">
    <link rel="stylesheet" href="/css/form/add-event.css">
</head>

<body>
    <div id="form-modal" class="form-modal">
        <dialog id="add-event-form" class="add-event g26-animate-top">
            <div class="form-content">
                <div class="event-details">
                    <input class="event-title g26-animate-input" placeholder="Write event name here..."></input>
                    <br/>
                    <input class="event-description g26-animate-input" placeholder="Write a description..."></input>
                </div>
                <div class="task-action">
                    <div class="icon-add-task align-center"></div>
                    <div class=" align-center txt">Date</div>
                    <input type="date" class="input-action">
                </div>
                <div class="task-action">
                    <div class="icon-add-task align-center"></div>
                    <div class=" align-center txt">Time Start</div>
                    <input type="time" class="input-action">
                </div>
                <div class="task-action">
                    <div class="icon-add-task align-center"></div>
                    <div class=" align-center txt">Time End</div>
                    <input type="time" class="input-action">
                </div>
                <div class="task-action ">
                    <div class="icon-add-task align-center"></div>
                    <div class=" align-center txt">Location</div>
                    <!-- <input type=""> -->
                </div>
                <div class="task-action">
                    <div class="icon-add-task align-center"></div>
                    <div class="align-center txt">Private</div>
                    <input type="checkbox" class="input-checkbox align-center">
                </div>

                <div class="form-footer">
                    <button id="cancel-add-event" class="btn-form-cancel  g26-animate-left btn-footer">Cancel</button>
                    <button class="btn-form-save  g26-animate-right btn-footer">Save</button>
                </div>
            </div>
        </dialog>
    </div>
</body>