<head>
    <link rel="stylesheet" href="/css/general.css">
    <link rel="stylesheet" href="/css/form/add-event.css">
    <link rel="stylesheet" href="/css/notification.css">
</head>

<body>
    <div id="form-modal" class="form-modal">
        <dialog id="add-event-form" class="add-event g26-animate-top">
            <form action="" method="POST">
                <div class="form-content">
                    <div class="event-details">
                        <input id="name" class="event-title g26-animate-input"
                            placeholder="Write event name here..."></input>
                        <p id="vld-name"></p>
                        <br />
                        <input id="description" class="event-description g26-animate-input"
                            placeholder="Write a description..."></input>
                    </div>
                    <div class="task-action">
                        <div class="icon-add-task align-center"></div>
                        <div class=" align-center txt">Date</div>
                        <p id="vld-date"></p>
                        <input id="date" type="date" class="input-action">
                        <br />
                    </div>
                    <div class="task-action">
                        <div class="icon-add-task align-center"></div>
                        <div class=" align-center txt">Time Start</div>
                        <input id="timeStart" type="time" class="input-action">
                        <p id="vld-time-start"></p>
                    </div>
                    <div class="task-action">
                        <div class="icon-add-task align-center"></div>
                        <div class=" align-center txt">Time End</div>
                        <input id="timeEnd" type="time" class="input-action">
                        <p id="vld-time-end"></p>
                    </div>
                    <div class="task-action ">
                        <div class="icon-add-task align-center"></div>
                        <div class=" align-center txt">Location</div>
                        <input id="location" type="text" class="input-action">
                    </div>
                    <div class="task-action">
                        <div class="icon-add-task align-center"></div>
                        <div class="align-center txt">Private</div>
                        <input id="public" type="checkbox" class="input-checkbox align-center">
                    </div>

                    <div class="form-footer">
                        <button id="cancel-add-event"
                            class="btn-form-cancel  g26-animate-left btn-footer">Cancel</button>
                        <button id="submit-add-event" class="btn-form-save  g26-animate-right btn-footer">Save</button>
                    </div>
                </div>
            </form>
        </dialog>
    </div>

    <div id="notify">
        <div id="img"><i class="fas fa-check-circle"></i></div>
        <div id="desc">Create event successfully</div>
    </div>

    <script src="/js/component/notification.js"></script>
    <script src="/js/validateForm.js"></script>
</body>