<link rel="stylesheet" href="/css/view-component/profile.css">

<!-- Profile -->
<div class="modal-content position-modal-profile" id="modal-profile" style="display: none;">
    <div class="wrapper" id="profile">
        <div class="top-icons">
            <i class="fas fa-window-close" onclick="close_profile()"></i>
        </div>

        <div class="profile">
            <img id="avatar" src="" class="thumbnail" onerror='this.src="/img/icon/avatar-default.png"'>
            <div class="check"><i class="fas fa-check"></i></div>
            <h3 id="self-name" class="name">Jerry Mouse</h3>
            <p id="self-email" class="title">Email</p>
            <a href="/account"><button type="button" class="btn">Edit Your Profile</button></a>
        </div>

        <div class="social-icons">
            <div class="icon">
                <a><i class="far fa-calendar-alt"></i></a>
                <h4 id="self-event">0</h4>
                <p> Events created</p>
            </div>

            <div class="icon">
                <a><i class="fas fa-calendar-check"></i></a>
                <h4 id="self-follow">0</h4>
                <p> Followed Events</p>
            </div>

            <div class="icon">
                <a><i class="fas fa-user-check"></i></a>
                <h4 id="self-following">0</h4>
                <p>Following</p>
            </div>
        </div>
    </div>
</div>

<script src="/js/component/setting.js"></script>
<script src="/js/component/profile.js"></script>