<div class="navbar">
        <div class="top-item fti">
            <div class="sub-item">
                <div class="icon-space" title="Search">
                    <div class="icon-search"></div>
                </div>
            </div>
            <div class="sub-item item-active">
                <div class="icon-space" title="Planner">
                    <div class="icon-planner"></div>
                </div>
            </div>
            <div class="sub-item">
                <div class="icon-space" title="Events">
                    <div class="icon-event"></div>
                </div>
            </div>
            <div class="sub-item">
                <div class="icon-space" title="To do list">
                    <div class="icon-list"></div>
                </div>
            </div>
        </div>
        <div class="bottom-item">
            <div class="sub-item">
                <div class="icon-space" title="Setting">
                    <div class="icon-setting"></div>
                </div>
            </div>
            <div class="sub-item">
                <div class="icon-space">
                    <div class="icon-logo"></div>
                </div>
            </div>
        </div>
    </div>