<!-- Phan Toolbar =============================================================== -->
<div class="toolbar">
    <!-- Hien thi ngay/tuan/thang/nam hien tai=================================== -->
    <div class="date-switcher" id="datetime"></div>
    <!-- Option Tuan/Thang/Nam/Today ============================================ -->
    <div class="view-switcher">
        <div class="calendar-view">
            <span class="btn-week m-btn" id="view-week">Week</span>
        </div>
        <div class="calendar-view">
            <span class="btn-month m-btn" id="view-month">Month</span>
        </div>
        <div class="calendar-view">
            <span class="btn-year m-btn" id="view-year">Year</span>
        </div>
        <div class="calendar-view float-right">
            <span class="btn-today m-btn">Today</span>
        </div>
    </div>
    <!-- Button them moi + button refresh======================================== -->
    <div class="functional-area">
        <div class="btn-add">
            <div class="icon-add"></div>
        </div>
        <div class="btn-refresh">
            <div class="icon-refresh"></div>
        </div>
    </div>
    <!-- User info area========================================================== -->
    <div class="user-tag">
        <div class="avatar"></div>
        <div class="username">Hoàng Đình Tuấn</div>
        <div class="more"></div>
    </div>
</div>
