<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BK Calendar</title>
    <link rel="shortcut icon" href="/img/iconv.png" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/fontawesome/css/all.css">
    <link rel="stylesheet" href="/css/general.css">
</head>

<body>
    {{>side-bar}}
    <div class="container">
        {{{body}}}
    </div>
     {{>profile}}
</body>

</html>
