*,::after,::before {
	box-sizing: border-box;
}

header,main,nav {
	display: block;
}

body {
	font-family: Open Sans,sans-serif;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	margin: 0;
	text-align: left;
	color: #525f7f;
	background-color: #f8f9fe;
}

a {
	text-decoration: none;
	color: #5e72e4;
	background-color: transparent;
}

a:hover {
	text-decoration: none;
	color: #233dd2;
}

hr {
	margin-top: 2rem;
	margin-bottom: 2rem;
	border: 0;
	border-top: 1px solid rgba(0,0,0,.1);
}

.container {
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	padding-right: 15px;
	padding-left: 15px;
}

.container-fluid {
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	padding-right: 15px;
	padding-left: 15px;
}

.row {
	display: flex;
	margin-right: -15px;
	margin-left: -15px;
	flex-wrap: wrap;
}

.col,.col-4,.col-8,.col-lg-3,.col-lg-4,.col-lg-6,.col-lg-7,.col-md-10,.col-md-12,.col-xl-4,.col-xl-6,.col-xl-8 {
	position: relative;
	width: 100%;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;
}

.form-control {
	font-size: 1rem;
	line-height: 1.5;
	display: block;
	width: 100%;
	height: calc(2.75rem + 2px);
	padding: .625rem .75rem;
	transition: all .2s cubic-bezier(.68,-.55,.265,1.55);
	color: #8898aa;
	border: 1px solid #cad1d7;
	border-radius: .375rem;
	background-color: #fff;
	background-clip: padding-box;
	box-shadow: none;
}

.input-group {
	position: relative;
	display: flex;
	width: 100%;
	flex-wrap: wrap;
	align-items: stretch;
}

.input-group-text {
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	display: flex;
	margin-bottom: 0;
	padding: .625rem .75rem;
	text-align: center;
	white-space: nowrap;
	color: #adb5bd;
	border: 1px solid #cad1d7;
	border-radius: .375rem;
	background-color: #fff;
	align-items: center;
}

.nav-link:focus,.nav-link:hover {
	text-decoration: none;
}

.navbar {
	position: relative;
	display: flex;
	padding: 1rem 1rem;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
}

.navbar>.container,.navbar>.container-fluid {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
}

.navbar-nav {
	display: flex;
	flex-direction: column;
	margin-bottom: 0;
	padding-left: 0;
	list-style: none;
}

.navbar-nav .nav-link {
	padding-right: 0;
	padding-left: 0;
}

.card {
	position: relative;
	display: flex;
	flex-direction: column;
	min-width: 0;
	word-wrap: break-word;
	border: 1px solid rgba(0,0,0,.05);
	border-radius: .375rem;
	background-color: #fff;
	background-clip: border-box;
}

.card-body {
	padding: 1.5rem;
	flex: 1 1 auto;
}

.card-header {
	margin-bottom: 0;
	padding: 1.25rem 1.5rem;
	border-bottom: 1px solid rgba(0,0,0,.05);
	background-color: #fff;
}

.media {
	display: flex;
	align-items: flex-start;
}

.text-white {
	color: #fff;
}

.avatar {
	font-size: 1rem;
	display: inline-flex;
	width: 48px;
	height: 48px;
	color: #fff;
	border-radius: 50%;
	background-color: #adb5bd;
	align-items: center;
	justify-content: center;
}

.avatar img {
	width: 100%;
	border-radius: 50%;
}

.avatar-sm {
	font-size: .875rem;
	width: 36px;
	height: 36px;
}

.btn {
	font-size: .875rem;
	position: relative;
	transition: all .15s ease;
	letter-spacing: .025em;
	text-transform: none;
	will-change: transform;
}

.btn-sm {
	font-size: .75rem;
}

.card-profile-image img {
	position: absolute;
	left: 50%;
	max-width: 180px;
	transition: all .15s ease;
	transform: translate(-50%,-30%);
	border-radius: .375rem;
}

.card-profile-image img:hover {
	transform: translate(-50%,-33%);
}

.card-profile-stats {
	padding: 1rem 0;
}

.card-profile-stats>div {
	margin-right: 1rem;
	padding: .875rem;
	text-align: center;
}

.card-profile-stats>div:last-child {
	margin-right: 0;
}

.card-profile-stats>div .heading {
	font-size: 1.1rem;
	font-weight: 700;
	display: block;
}

.card-profile-stats>div .description {
	font-size: .875rem;
	color: #adb5bd;
}

.main-content .navbar-top {
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	width: 100%;
	padding-right: 0;
	padding-left: 0;
	background-color: transparent;
}

.main-content .container-fluid {
	padding-right: 39px;
	padding-left: 39px;
}

.input-group .form-control:not(:last-child) {
	padding-right: 0;
	border-right: 0;
}

.input-group .form-control:focus {
	box-shadow: none;
}

.input-group-text {
	transition: all .2s cubic-bezier(.68,-.55,.265,1.55);
}

.input-group-alternative .form-control,.input-group-alternative .input-group-text {
	border: 0;
	box-shadow: none;
}

.header {
	position: relative;
}

.mask {
	position: absolute;
	opacity: .8;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transition: all .15s ease;
	background: linear-gradient(87deg,#172b4d 0,#1a174d 100%);
}

.navbar-search .input-group {
	border: 2px solid;
	border-radius: 2rem;
	background-color: transparent;
}

.navbar-search .input-group .input-group-text {
	padding-left: 1rem;
	background-color: transparent;
}

.navbar-search .form-control {
	width: 270px;
	background-color: transparent;
}

.navbar-search-dark .input-group {
	border-color: rgba(255,255,255,.6);
}