@import "./icon.css";
@import "./button.css";
@import "./g26.css";
@import "./view-component/navbar.css";
@import "./view-component/toolbar.css";
@import "./view-component/content.css";

body {
    margin: 0;
    font-family: sans-serif;
    font-size: 13px impo !important;
}

@font-face {
    font-family: GG;
    src: url() format('opentype');
}

.float-left {
    /* float: left; */
    position: absolute;
    left: 0;
}

.float-right {
    /* float: right; */
    position: absolute;
    right: 0;
}