#single-todo {
    padding: 10px;
    font-size: large;
}
input:focus{
    outline: rgb(136, 202, 202);
}
input[type=checkbox]:checked +label{
    text-decoration: line-through;
    color: rgb(157, 160, 168);
}
